body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  background: black;
  height: 10vh;
  width: 100%;
  color: white;
  font-size: 5vh;
  padding-top: 1vh;
  
}

.Items_List {
  width: 90vm;
  margin: 5rem auto;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  /* background: rgb(231, 228, 228); */
  }
@media screen {
  .Items_List {
    grid-template-columns: repeat(4, 1fr);
  }
  }
  
  .Items_List a{
  text-decoration: none;
  } 
  
  .Item {
  background: whitesmoke;
  border-radius: 1rem;
  padding: 1rem 2rem;
  
  margin-left: 15px;
  }
  
  .Item h1 {
  color: black;
  }
  

  input{
    float:right;
    width: 20%;
    height:5vh;
    margin-right: 5vw;
  }

  .Dialouge{
    width: 50%;
    background-color: whitesmoke;
    justify-content: left;
    text-align: left;
  }

  p{
    font-size: small;
    float: right;
    margin-right: 2vw;
  }