body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: #3D3D3D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  background: black;
  height: 10vh;
  width: 100%;
  color: white;
  font-size: 5vh;
  padding-top: 1vh;
}