body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  background: black;
  height: 10vh;
  width: 100%;
  color: white;
  font-size: 5vh;
  padding-top: 1vh;
  
}

.Items_List {
  width: 90vm;
  margin: 5rem auto;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  /* background: rgb(231, 228, 228); */
  }
@media screen {
  .Items_List {
    grid-template-columns: repeat(2, 1fr);
  }
  }
  
  .Items_List a{
  text-decoration: none;
  } 
  
  .Item {
  background: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  
  margin-left: 15px;
  }
  
  .Item h1 {
  color: black;
  background: white;
  }
  
  .Item img {
  width: 125px;
  height: 125px;
  align-items: center;
  }

  input{
    float:right;
    width: 25%;
    height:5vh;
    margin-right: 5%;
  }

  .Dialouge{
    width: 50%;
    background-color: whitesmoke;
    justify-content: left;
    text-align: left;
  }